.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 1rem;
  display: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
}

/* Searchbar- section */
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 1.5rem 0;
  position: relative;
}

.search-icons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.search-icons .right-arrow,
.search-icons .left-arrow {
  font-size: 2rem;
  cursor: pointer;
}

.input-address {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}

.input-address:hover,
.input-address:focus {
  outline: none;
  border: none;
  background-color: var(--white-color);
}

.input-address .inputField {
  border: 0;
  outline: none;
  color: #3d3b3b;
  width: 100%;
}

.input-address .search-button {
  font-size: 2rem;
}

.input-address .inputField::placeholder {
  font-size: 1.5rem;
  color: gray;
}
/* Trending Section */
.trending .trending-text {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.trending-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.trending-zone .trending-header {
  font-size: 3rem;
  margin: 1rem 0;
}

.trending-zone .icon-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-section {
  cursor: pointer;
}

.icon-section .trending-icons {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 1rem;
}

.icon-section span {
  font-size: 1.5rem;
}
/* searchDropdown  */
.searchDropdown {
  position: absolute;
  height: 200px;
  right: 0;
  width: 100%;
  max-width: 300px;
  top: -700vh;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.searchDropdown.open {
  top: calc(100% + 0.85rem);
}

/* Photography Section */
.photography-container {
  height: 120px;
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../Assets/images/bgimage.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.photography-container .photography-artist {
  font-weight: 300;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

section .wordings {
  margin: 1rem 0;
}

.photography-container .ontop {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.photography-container .oftheworld {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  margin-top: 2rem;
}

.photo-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.photo-bottom-container .primary-btn {
  margin-right: 2rem;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}

.photo-bottom-container .primary-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.photo-bottom-container .secondary-btn {
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}

.photo-bottom-container .secondary-btn:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.monthly-listners {
  text-align: right;
  color: var(--secondary-color);
}

.monthly-listners .monthly {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.monthly-listners .figures {
  font-size: 2rem;
}

/* Playlist Section */
.my-playlist {
  margin: 2rem 0;
  width: 100%;
}

.main-scrollbar {
  width: inherit;
  overflow-y: auto;
  border: 1px solid red;
  height: calc(100vh - 430px);
}

.main-scrollbar::-webkit-scrollbar {
  display: none;
}

.my-playlist .playlist-text {
  font-size: 3rem;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 1.7rem;
  cursor: pointer;
  border-radius: 1.5rem;
  text-overflow: ellipsis;
  transition: all 0.3s ease-in-out;
}

.playlist-container:hover {
  padding: 1rem 1.7rem;
  background-color: var(--white-color);
  transform: scale(1.03, 1.07);
}

.titlecard-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 1.7rem;
}

/* play-station */
.play-station {
  /* border: 1px solid red; */
  height: 85px;
  width: calc(100% - 2rem);
  border: 1px solid var(white);
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}

.music-player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.play-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.play-buttons > * {
  background-color: transparent;
  border: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

.play-buttons i {
  font-size: 2rem;
}
.play-buttons .play-btn,
.play-buttons .pause-btn {
  font-size: 4rem;
}

.leftplay-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.leftplay-buttons > * {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(230, 225, 225);
}

/* Radio Buttons */
.radio-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.radio-buttons .input-range {
  width: 500px;
}

.radio-buttons p {
  font-size: 1.5rem;
  font-weight: 500;
}
/*  */
.center-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

/* .center-buttons .input-range {
  width: 25px;
} */

.center-buttons > * {
  font-size: 2rem;
}

@media (max-width: 800px) {
  .main-container {
    width: 100%;
    height: 100vh;
    padding: 0 1rem;
  }
}
