.navbar-container {
  position: relative;
  background-color: var(--white-color);
  width: 20%;
  height: 100vh;
  padding: 0 1rem;

}

.navigation {
  position: relative;
  padding: 0 1rem;
}

.navigation i {
  position: absolute;
  top: 18px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.wrap {
  margin: 10px 0px;
  position: relative;
  padding: 0 10px;
}

.individual-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  gap: 2rem;
  cursor: pointer;
  max-width: 90%;
  font-size: 1rem;
}

.wrap:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0%;
  border-radius: 0.7rem;
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 10;
}

.individual-cards:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.individual-cards.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.navbar-profile {
  width: 100%;
  border-top: 2px solid rgb(213, 205, 205);
  padding: 1rem 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-profile .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.navbar-profile .image img {
  display: block;
  height: 100%;
  width: fit-content;
  border-radius: 50%;
}

.nav-profile-icon {
  /* align-self: flex-end; */
  margin-left: 7rem;
}

.navbar-text {
  letter-spacing: 2px;
  padding: 0 20px;
  font-size: 1rem;
}

.header-card {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem 3rem;
  gap: 2rem;
  max-width: 90%;
  margin-top: 5.5rem;
}

.header-card .icon-text {
  font-size: 2rem;
}

.header-card .colored-icon-text {
  color: brown;
  margin-top: 2.5rem;
}
